apiVersion: v1
kind: Secret
metadata:
  name: duma-adm-secrets
  namespace: duma
  labels:
    app: duma-adm
type: Opaque
stringData:
  NEXTAUTH_SECRET: "replace-me"
  KEYCLOAK_CLIENT_SECRET: "replace-me"
