@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #EDAA12;
  --primary-dark: #D88A00;
  --primary-darker: #7A4A12;
  --surface: #FFFFFF;
  --background: #F3F4F6;
  --text-primary: #111827;
  --text-secondary: #4B5563;
  --text-on-primary: #000000;
  --success: #10B981;
  --info: #3B82F6;
  --warning: #FDA91E;
  --danger: #EF4444;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
}

* {
  box-sizing: border-box;
}
